.menu{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 2.2rem ;
    border-bottom: 0.2rem solid #969696;
    gap: 2.4rem;
    background-color: #0A1817;
}

.logo{
  font-family: "Aldrich", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.6rem;
  color: #f1f1f1;
}

.listLinks{
    display: flex;
    gap: 1.6rem;
    justify-items: center;
    align-items: center;
}

.link{
    font-size: 1.4rem;
    /* padding: 0.8rem ; */
    color: var(--primary);
    border-bottom: transparent 0.1rem solid;
    transition: 1s all ease-in-out;
    color: #fff;
}



@media screen and (min-width: 768px) {

    .menu{
        padding: 2.2rem;
        gap: 2.4rem;
    }


    .listLinks{
        gap: 1.8rem;
    }

    .link{
        font-size: 1.8rem;
    }
    
}

@media screen and (min-width: 992px) {
    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    .listLinks{
        display: flex;
        gap: 1.4rem;
        justify-items: center;
        align-items: center;
    }

    .link{
        font-size: 1.6rem;
        padding: 0.8rem ;

        border-bottom: transparent 0.1rem solid;
        transition: 1s all ease-in-out;
    }

    
    .link:hover {
        border-bottom: 0.1rem solid #f1f1f1;
    }
}

@media screen and (min-width: 1200px){}
