.home{
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
    height: 60vh;
    border-bottom: 1px solid var(--gray-400);
}

.descriptionHome{
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: auto 2.2rem;
    gap: 2.8rem;
}

.descriptionHome h1{
    font-size: 4.2rem;
}

.boxButtons {
    display: flex;
    gap: 1.2rem;
}

.buttonDark {
    background-color: var(--primary);
    color: var(--text-over-primary-dark);
    border: 0.1rem solid var(--primary);
}

.buttonLight {
    background-color: var(--second);
    border: 0.1rem solid #9e9e9e;
    
}

.imageHome{
    order: 2;
    width: 100%;
}

.imageHome img {
    width: 100%;
}

@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 992px) {

    .home{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        height: 60vh;
        border-bottom: 1px solid var(--gray-400);
    }

    .descriptionHome{
        margin: auto 3.4rem;

    }
}

@media screen and (min-width: 1200px){}
