.home{
    display: flex;
    flex-direction: column-reverse;
    border-bottom: 1px solid var(--gray-400);
    background-color: #0A1817;
    padding: 1.8rem 2.8rem;
}

.descriptionHome{
    display: flex;
    flex-direction: column;
    align-items: start;

    gap: 2.8rem;
    margin: 0 auto;
    margin-bottom: 2.2rem;
    text-align: center;
    width: 80%;
}

.descriptionHome h1{
    font-size: 3.8rem;
    color: #fff;
}

.descriptionHome p{
    color: var(--text-over-primary-dark);
    font-size: 1.6rem;
}

.boxButtons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: auto;
    gap: 1.4rem;
    text-align: center;
}

.buttonWhite {
    background-color: var(--white-color);
    color: var(--primary);
    font-weight: bold;
    border: 0.1rem solid var(--primary);
    transition: all 1s ease-in-out;
}

.buttonWhite:hover {
    background-color: var(--gray-400);
}


.buttonLine {
    background-color: var(--green-primary);
    border: 0.1rem solid var(--white-color);
    color: #e6e6e6;
    font-weight: bold;
    transition: all 1s ease-in-out;
}

.buttonLine:hover {
    background-color: var(--green-hover);
}

.imageHome{
    width: 80%;
    margin: 0 auto;
    /* height: 150px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageHome img {
    width: 100%;
}

@media screen and (min-width: 768px) {

    .boxButtons {
        display: flex;
        justify-content: center;
        flex-direction: row;
        text-align: center;
    }

    .imageHome{
        width: 50%;
        margin: 0 auto;
        /* height: 150px; */
        display: flex;
        align-items: center;
        justify-content: center;
    }


    
}

@media screen and (min-width: 992px) {

    .home{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 80vh;
        width: 100%;
        border-bottom: 1px solid var(--gray-400);
    }

    .descriptionHome{
        margin: auto;
        padding: 1.8rem;
        max-width: 40%;
        text-align: start;
    }

    .descriptionHome h1 {
        font-size: 5.6rem;
    }

    .boxButtons {
        display: flex;
        justify-content: left;
    }

    .imageHome{
        width: 40%;
    }

    .imageHome img {
        max-width: 80vh;
    }
}

@media screen and (min-width: 1200px){

    .descriptionHome{
        max-width: 35%;
    }

    .descriptionHome h1 {
        font-size: 6.6rem;
    }

    .descriptionHome p{
        font-size: 1.6rem;
    }

}
