:root{
    --primary: #000;
    --gray-100: #e6e9f0;
    --gray-200: #ececec;
    --gray-300: #c7c7c7;
    --gray-400: #787879;
    --gray-500: #666666;
    --gray-600: #555555;
    --gray-700: #3b3b3b;
    --gray-800: #272727;
    --gray-900: #141414;

    --text-default: #e6e9f0;
    --text-muted: #aab3cc;

    --white-color: #eeee; 

    --green-primary: #0A1817;
    --green-hover: #082525;

    --text-over-primary: #0a0f1a;
    --text-over-primary-dark: #e6e9f0;
}